<div class="x_panel">
  <div class="x_title">
    <h2>Editar <%= I18n.t("categories.#{@hotel.category}") %><small>Complete el formulario</small></h2>
    <div class="clearfix"></div>
    <div class="x_content">
      <%= form_for [:dashboard, @hotel], html: { class: 'form-horizontal
                                                 form-label-left
                                                 input_mask' } do |f| %>
        <%= render 'form', f: f %>
        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="form-group pull-right">
          <div class="col-xs-12">
            <%= link_to fa_icon("times", text: "Cancelar"), :back, class: "btn btn-default" %>
            <%= f.button fa_icon("pencil", text: "Editar #{I18n.t("categories.#{@hotel.category}")}"), class: 'btn btn-success', type: "submit", data: { disable_with: 'Cargando...' }, id: "submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

