<!-- page content -->
<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left">
        <h3>
          <%= @hotel.name %>
          <small>
            Calendario de disponibilidad
          </small>
        </h3>
      </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Dias libres <small>Editar</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div id='calendar'></div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Start Calendar modal -->
<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Editar disponibilidad <small><%= @hotel.name %></small></h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <form id="antoform" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label">Llenar cupo de</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title" value="<%= @hotel.name %>" readonly>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary antosubmit">Llenar</button>
      </div>
    </div>
  </div>
</div>
<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel2">Editar Disponibilidad <small><%= @hotel.name %></small></h4>
      </div>
      <div class="modal-body">

        <div id="testmodal2" style="padding: 5px 20px;">
          <form action id="antoform2" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label">Llenar cupo de</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title" value="<%= @hotel.name %>" readonly>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary antosubmit">Llenar</button>
      </div>
    </div>
  </div>
</div>

<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>

<!-- End Calendar modal -->
<!-- /page content -->

<script>
  $(window).load(function() {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var started;
    var categoryClass;

    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month'
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        $('#fc_create').click();

        started = start;
        ended = end

        $(".antosubmit").on("click", function() {
          var title = $("#title").val();
          if (end) {
            ended = end
          }
          categoryClass = $("#event_type").val();
          if (title) {
            //$('#insert_form').html('<form action="http://localhost:3000/dashboard/calendar/<%= @hotel.id %>"' + ' name="fill_calendar_date" method="post" style="display:none;"><input type="hidden" name="started" value="" /></form>');
            //document.forms['fill_calendar_date'].submit();
            window.location.href = "/dashboard/fill_calendar/" + <%= @hotel.id %> + "?started=" + started.toString();
          }
          $('#title').val('');
          calendar.fullCalendar('unselect');

          $('.antoclose').click();

          return false;
        });
      },
      eventClick: function(calEvent, jsEvent, view) {
        //alert(calEvent.title, jsEvent, view);

        $('#fc_edit').click();
        $('#title2').val(calEvent.title);
        categoryClass = $("#event_type").val();

        $(".antosubmit2").on("click", function() {
          calEvent.title = $("#title2").val();

          calendar.fullCalendar('updateEvent', calEvent);
          $('.antoclose2').click();
        });
        calendar.fullCalendar('unselect');
      },
      editable: true,
      events: <%= raw @dates.to_json %>
    });
  });
</script>
