<div class="x_panel">
  <div class="x_title">
    <h2>Listado de Habitaciones</h2>
    <div class="clearfix"></div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
        <div class="table-responsive">
          <table id="index-staff-student"
                 class="table table-striped responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                <th><%= Room.human_attribute_name(:name) %></th>
                <th><%= Room.human_attribute_name(:price) %></th>
                <th><%= Room.human_attribute_name(:hotel) %></th>
              </tr>
            </thead>
            <tbody>
              <% @rooms.each do |room| %>
                <tr>
                  <th><%= link_to room.name, edit_dashboard_room_path(room) %></th>
                  <th><%= room.price %></th>
                  <th><%= room.hotel.name %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>

  <div class="x_content">
  </div>
</div>
