<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<ul class="banner-breadcrumb color-white clearfix">
		  				<li><a class="link-blue-2" href="#">galería</a> /</li>
		  				<li><span>fotos</span></li>
		  			</ul>
		  			<h2 class="color-white">la pesca en fotos</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<!-- TEAM -->
<div class="main-wraper padd-70-70">
	<div class="container">
        <div class="filter style-2">
            <ul class="filter-nav">
                <li class="selected"><a href="#all" data-filter="*">todas</a></li>
                <li><a href="#playa" data-filter=".playa">la playa</a></li>
                <li><a href="#escolleras" data-filter=".escolleras">las escolleras</a></li>
                <li><a href="#aereas" data-filter=".aereas">aéreas</a></li>
								<li><a href="#tortugalora" data-filter=".tortugalora">tortuga lora</a></li>
								<li><a href="#avesmarinas" data-filter=".avesmarinas">aves marinas</a></li>
            </ul>
        </div>
		<div class="filter-content row">
			<div class="grid-sizer col-mob-12 col-xs-6 col-sm-4"></div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-aereas-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA ÁEREA DEL POBLADO LA PESCA</b></h3>
						<h5 class="color-white">CONSEJO PARA EL FOMENTO ECONÓMICO LA PESCA A.C</h5>
					</div>
				<% end %>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-8">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-escolleras-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>ESCOLLERA DE LA PESCA TAMAULIPAS</b></h3>
						<h5 class="color-white">CONSEJO PARA EL FOMENTO ECONÓMICO LA PESCA A.C</h5>
					</div>
				<% end %>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-aereas-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>COSTA TAMAULIPECA Y ESCOLLERAS DE LA PESCA</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-playa-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>PALAPAS EN LA PLAYA</b></h3>
						<h5 class="color-white">CONSEJO PARA EL FOMENTO ECONÓMICO LA PESCA A.C</h5>
					</div>
				<% end %>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-aereas-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>RIO SOTO LA MARINA Y LAGUNA ALMAGRE</b></h3>
						<h5 class="color-white">CONSEJO PARA EL FOMENTO ECONÓMICO LA PESCA A.C</h5>
					</div>
				<% end %>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-playa-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA AÉREA COSTA TAMAULIPECA</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-escolleras-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA HACIA EL GOLFO DE MÉXICO DESDE LA ESCOLLERA</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
					<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-playa-5.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>LIBERACIÓN DE TORTUGAS LORA</b></h3>
						<h5 class="color-white">JULIO – JUNIO 2016</h5>
					</div>
				<% end %>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-8">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-playa-4.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>AMANECER EN LA PESCA</b></h3>
						<h5 class="color-white">LUIS VICENTE BALLINAS CRUZ</h5>
					</div>
				<% end %>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-escolleras-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA ÁEREA LA ESCOLLERA</b></h3>
						<h5 class="color-white">TURISMO TAMAULIPAS</h5>
					</div>
				<% end %>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-8">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-aereas-4.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>ATARDECER SOBRE POBLADO LA PESCA</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-playa-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA DESDE LAS ESCOLLERAS</b></h3>
						<h5 class="color-white">CONSEJO PARA EL FOMENTO ECONÓMICO LA PESCA A.C</h5>
					</div>
				<% end %>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-escolleras-4.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>VISTA DE FRENTE HACIA LA ESCOLLERA</b></h3>
						<h5 class="color-white">ECOAVE</h5>
					</div>
				<% end %>
			</div>
			<div class="item tortugalora gal-item col-mob-12 col-xs-6 col-sm-8">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-tortugalora-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>LIBERACIÓN DE TORTUGAS LORA EN LA PESCA</b></h3>
						<h5 class="color-white">WWW.SOMOSTAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item tortugalora gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-tortugalora-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>TORTUGA LORA</b></h3>
						<h5 class="color-white">ERICH SCHLEGEL</h5>
					</div>
				<% end %>
			</div>
			<div class="item tortugalora gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-tortugalora-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>TORTUGA LORA ANIDANDO</b></h3>
						<h5 class="color-white">ANIDACIÓN MESES MARZO - JUNIO</h5>
					</div>
				<% end %>
			</div>
			<div class="item tortugalora gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-tortugalora-4.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>NIDO DE TORTUGAS LORA</b></h3>
						<h5 class="color-white">WWW.SOMOSTAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item avesmarinas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-avesmarinas-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>CORMORANES Y GAVIOTAS</b></h3>
						<h5 class="color-white">LUIS VICENTE BALLINAS CRUZ</h5>
					</div>
				<% end %>
			</div>
			<div class="item avesmarinas gal-item col-mob-12 col-xs-6 col-sm-8">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-avesmarinas-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>PELICANOS Y GAVIOTAS</b></h3>
						<h5 class="color-white">LUIS VICENTE BALLINAS CRUZ</h5>
					</div>
				<% end %>
			</div>
			<div class="item avesmarinas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-avesmarinas-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>PELICANOS BLANCOS, GRISES, GAVIOTAS Y PATOS</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
			<div class="item avesmarinas gal-item col-mob-12 col-xs-6 col-sm-4">
				<%= link_to gallery_detail_path, class: "black-hover" do %>
					<%= image_tag 'galeria-avesmarinas-4.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>PAREJA DE PELICANOS BLANCOS</b></h3>
						<h5 class="color-white">WWW.LAPESCATAMAULIPAS.COM</h5>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$(".black-hover").click(function(ev){
		ev.preventDefault();
	})
</script>
