<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<ul class="banner-breadcrumb color-white clearfix">
		  				<li><a class="link-blue-2" href="#">galería</a> /</li>
		  				<li><span>fotos</span></li>
		  			</ul>
		  			<h2 class="color-white">la pesca en fotos</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<!-- TEAM -->
<div class="main-wraper padd-70-70">
	<div class="container">
        <div class="filter style-2">
            <ul class="filter-nav">
                <li class="selected"><a href="#all" data-filter="*">todas</a></li>
                <li><a href="#playa" data-filter=".playa">la playa</a></li>
                <li><a href="#escolleras" data-filter=".escolleras">las escolleras</a></li>
                <li><a href="#aereas" data-filter=".aereas">aéreas</a></li>
            </ul>
        </div>
		<div class="filter-content row">
			<div class="grid-sizer col-mob-12 col-xs-6 col-sm-4"></div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<%= image_tag 'galeria-aereas-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-8">
				<a class="black-hover" href="gallery_detail.html">
					<%= image_tag 'galeria-escolleras-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<%= image_tag 'galeria-aereas-2.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<%= image_tag 'galeria-playa-1.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<%= image_tag 'galeria-aereas-3.jpg', class: "img-full img-responsive" %>
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_6.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_7.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_8.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-8">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_9.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_10.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item aereas gal-item col-mob-12 col-xs-6 col-sm-8">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_13.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item playa gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_11.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>
			<div class="item escolleras gal-item col-mob-12 col-xs-6 col-sm-4">
				<a class="black-hover" href="gallery_detail.html">
					<img class="img-full img-responsive" src="img/gallery/s_gal_12.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="color-white"><b>santorini</b></h3>
						<h5 class="color-white">sea tours</h5>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
