<!-- INNER-BANNER -->
<div class="inner-banner style-6">
  <%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="banner-breadcrumb color-white clearfix">
            <li><a class="link-blue-2" href="#">actividades</a> /</li>
            <li><a class="link-blue-2" href="#">detalle</a> /</li>
            <li><span>información</span></li>
          </ul>
          <h2 class="color-white">paseo en lancha</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
  <div class="container">
    <div class="detail-header">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2 class="detail-title color-dark-2">Paseo en Lancha</h2>
          <div class="detail-rate rate-wrap clearfix">
            <div class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </div>
            <i>485 Rewies</i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="detail-price color-dark-2">precio desde  <span class="color-dr-blue"> $100</span> /persona</div>
        </div>
      </div>
    </div>
    <div class="row padd-90">
      <div class="col-xs-12 col-md-8">
        <div class="detail-content">
          <div class="detail-top">
            <%= image_tag "paseo_en_lancha_1.jpg", class: "img-responsive" %>
          </div>

          <div class="detail-content-block clearfix">
            <h3>INFORMACIÓN PASEO EN LANCHA </h3>
            <p>En La Pesca, Tamaulipas podrás disfrutar de diferentes actividades como es un agradable paseo en lancha por el río Soto la Marina o la Laguna de Morales , los paseos en lancha están sumamente recomendados, el proyecto ECOAVE durante su recorrido en lancha ofrece lo siguiente:</p>
            <%= image_tag "paseo_en_lancha_2.jpg", class: "left-img" %>
            <ul>
              <li>Observación de aves </li>
              <li>Increíbles paisajes</li>
              <li>Chalecos salvavidas</li>
              <li>Guías capacitados</li>
              <li>Binoculares</li>
            </ul>
            <h5>MÁS INFORMACIÓN</h5>

            <p>El paseo en lancha es una actividad muy recomendada ya que se pueden apreciar hermosos paisajes que nos regala la Laguna de Morales en donde se pueden observar gran variedad de aves marinas y cientos de metros del manglar que rodea a la laguna el cual esta protegido por la SEMARNAT bajo la norma NOM 059 SEMARNAT-2010.  Algunas de las especies de aves que comúnmente se avistan en la Laguna de Morales y en el río Soto la Marina son:</p>

            <%= image_tag "paseo_en_lancha_3.jpg", class: "right-img" %>
            <ul>
              <li>Garzas</li>
              <li>Patos</li>
              <li>Multi-product search</li>
              <li>Pelicanos</li>
              <li>Cormoranes</li>
              <li>Gaviotas, entre muchas otras especies más.</li>
            </ul>

            <h5>LOS MANGLARES</h5>

            <p>Los manglares, son ecosistemas diversos y de gran importancia ecológica que brindan una gran variedad de servicios ambientales. Están considerados como zonas de alimentación, refugio y crecimiento de juveniles de crustáceos y alevines, actúan como sistemas naturales de control de inundaciones y como barreras contra huracanes</p>
          </div>
          <div class="detail-content-block">
            <h3>PREGUNTAS FRECUENTES</h3>
            <div class="accordion style-4">
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Cuál es la capacidad máxima de personas por lancha?</div>
                <div class="acc-body">
                  <p>Por seguridad y por comodidad la capacidad máxima es de 5 personas por lancha. A todos los ocupantes se les asigna un chaleco salvavidas y se les indican todas las medidas de seguridad necesarias antes de iniciar algún recorrido.</p>
                </div>
              </div>
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Cuánto tiempo dura un recorrido en lancha?</div>
                <div class="acc-body">
                  <p>Los recorridos pueden ser variar dependiendo las preferencias de los clientes, lo mínimo a contratar un paseo en lancha es por 45 minutos.</p>
                </div>
              </div>
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Cuál es el costo?</div>
                <div class="acc-body">
                  <p>Los costos varían dependiendo la cantidad de personas que contraten el servicio, por lo general cuando son más de 4 personas se cobra $100 pesos por persona, si son menos de 4 personas se hace un cobro de $150 por persona.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-sidebar">
          <div class="detail-block bg-red-3">
            <h4 class="color-white">detalles</h4>
            <div class="details-desc">
              <p class="color-pink">categoría:  <span class="color-white">ecoturismo</span></p>
              <p class="color-pink">precio: <span class="color-white">$100 / persona</span></p>
              <p class="color-pink">proveedor: <span class="color-white">ecoave</span></p>
              <p class="color-pink">rate: <span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span></p>
            </div>
            <div class="details-btn">
              <a href="/como_llegar" class="c-button b-40 bg-white hv-transparent"><img src="/img/loc_icon_small_drak.png" alt=""><span>ver en el mapa</span></a>
            </div>
          </div>

          <div class="popular-tours bg-grey-2">
            <h4 class="color-dark-2">hoteles similares</h4>

            <% @similar.each do |hotel| %>
            <div class="hotel-small style-2 clearfix">
                <%= link_to hotel_path(hotel), class: "hotel-img black-hover" do %>
                <%= image_tag hotel.code + '-small.jpg', class:'img-responsive radius-3' %>
                <div class="tour-layer delay-1"></div>
              <% end %>
              <div class="hotel-desc">
                <h5><span class="color-dark-2">desde <strong>$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></strong></span></h5>
                <h4><%= hotel.name %></h4>
                <div class="hotel-loc">Ubicación: <%= hotel.location %></div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="sidebar-text-label bg-dr-blue color-white"><%= link_to 'ver todos los hoteles', hotels_path %></div>

          <div class="help-contact bg-grey-2">
            <h4 class="color-dark-2">¿Necesitas ayuda?</h4>
            <p class="color-grey">Si tienes alguna duda respecto a tu reservación, contamos con un horario de atención al cliente de 9:00 AM a 5:00 PM de Lunes a Sábado.</p>
            <a class="help-phone color-dark-2 link-dr-blue" href="tel:0200059600"><img src="/img/detail/phone24-dark.png" alt="">01 (835) 327-12-12</a>
            <a style="font-size: 12px" class="help-mail color-dark-2 link-dr-blue" href="mailto:contacto@lapescatamaulipas.com"><img src="/img/detail/letter-dark.png" alt="">contacto@lapescatamaulipas.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="may-interested padd-90">
      <div class="row">

        <% @recommended.each do |hotel| %>
        <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3">
          <div class="hotel-item">
            <div class="radius-top">
              <%= link_to hotel_path(hotel) do %>
              <%= image_tag hotel.code + '-index.jpg' %>
              <% end %>
              <div class="price price-s-1">$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></div>
            </div>
            <div class="title clearfix">
              <h4><b><%= hotel.name %></b></h4>
              <div class="rate-wrap">
                <div class="rate">
                  <% hotel.review_score.times do %>
                  <span class="fa fa-star color-yellow"></span>
                  <% end %>
                </div>
                <i>Disponible</i>
              </div>
              <span class="f-14 color-dark-2"><%= hotel.location %></span>
              <p class="f-14"><%= hotel.description %></p>
              <%= link_to 'Ver más', hotel_path(hotel), class: "c-button bg-dr-blue hv-dr-blue-o b-50 fl" %>
              <a href="/como_llegar" class="c-button color-dr-blue hv-o b-50 fr"><img src="/img/loc_icon_small_drak.png" alt="">ver en mapa</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
