<!-- INNER-BANNER -->
<div class="inner-banner style-6">
  <%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="banner-breadcrumb color-white clearfix">
            <li><span>tortuga lora</span></li>
          </ul>
          <h2 class="color-white">TORTUGAS MARINAS EN COSTAS DE TAMAULIPAS</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
  <div class="container">
    <div class="detail-header">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2 class="detail-title color-dark-2">LIBERACIÓN DE TORTUGAS LORA EN TAMAULIPAS</h2>
          <div class="detail-rate rate-wrap clearfix">
            <div class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </div>
            <i>485 Rewies</i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="detail-price color-dark-2" style="text-align: center">Actividad Gratuita</div>
        </div>
      </div>
    </div>
    <div class="row padd-90">
      <div class="col-xs-12 col-md-8">
        <div class="detail-content">
          <div class="detail-top">
            <%= image_tag "tortuga_lora_1.jpg", class: "img-responsive" %>
          </div>

          <div class="detail-content-block clearfix">
            <h3>INFORMACIÓN GENERAL SOBRE LA TORTUGA LORA</h3>
            <p>En Tamaulipas existen dos campamentos para la conservación de la Tortuga Lora, en la zona sur de Tamaulipas se encuentra el Centro de Conservación de Tortugas Marinas de La Pesca, también conocido como “Campamento Tortuguero” el cual su función es ayudar a la especie mediante una serie de pasos con los cuales se busca que sean más las crías de tortugas que nazcan. La Tortuga Lora es una de las especies más pequeñas de todas las tortugas marinas, llegando a medir unos 65 cm y pesa aproximadamente unos 50 kilogramos, recibe el nombre de lora por su pico y está en peligro de extinción.</p>
            <p>Desde abril y durante los meses de mayo y junio, varias especies de  tortugas llegan a las costas de Tamaulipas a desovar en las playas de La Pesca.</p>
            <%= image_tag "tortuga_lora_2.jpg", class: "left-img" %>
            <ul>
              <li>El Golfo de México es la región más común en que residen</li>
              <li>Pueden vivir hasta 50 años de edad</li>
              <li>Puede llegar a medir 65 cms</li>
              <li>Es la más pequeña de las tortugas marinas</li>
              <li>Cada hembra pone unos 100 huevos que eclosionan aproximadamente 50 días después</li>
              <li>La mayoría de edad es de 10 a 15 años para estas tortugas marinas</li>
              <li>Puede llegar a pesar hasta 50 kilogramos aproximadamente</li>
            </ul>
            <h5>Los esfuerzos de conservación de la tortuga lora </h5>

            <p>La Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT) define a esta especie en peligro de extinción por lo que en Playa La Pesca de Barra del Tordo en “Rancho Nuevo”  Tamaulipas se encuentran los dos  campamentos con los que cuenta el estado  para la conservación de la tortuga lora, pues ellas arriban a estas playas en los meses de Abril a Julio, temporada de anidación; la incubación es de 40-50 días aproximadamente, para posteriormente colocarlas cerca de la playa y que inicien su travesía.</p>

            <%= image_tag "tortuga_lora_3.jpg", class: "right-img" %>
            <p>Los programas anteriormente mencionados, son tener vigilancia de 96 km. de playa aproximadamente, en lugares donde llega a anidar la Tortuga Lora. Además, se cuenta con 1, 700 nidos en 2 campamentos, y con corrales que es donde se desarrollan las pequeñas crías de tortugas.</p>

            </div>
          <div class="detail-content-block">
            <h3>Preguntas frecuentes</h3>
            <div class="accordion style-4">
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Todos los días se hacen liberaciones de tortugas?</div>
                <div class="acc-body">
                  <h5>No</h5>
                  <p>Las liberaciones son programadas durante la temporada de nacimientos de crías en los meses de Abril a Julio. El nacimiento de las crías depende mucho del factor climático por lo que no se puede saber con exactitud qué días nacerán crías, sin embargo se puede estimar que días tentativamente podrían nacer las crías.</p>
                </div>
              </div>
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Podemos tocar a las tortugas?</div>
                <div class="acc-body">
                  <h5>No</h5>
                  <p>Por disposición oficial de la norma NOM-162-SEMARNAT-2012 anunciada por la SEMARNAT anunciada en el 2012 se destaca que a partir de ese momento queda prohibido manipular la especie por lo que al momento de las liberaciones solo se pueden presenciar cómo espectador.</p>
                </div>
              </div>
              <div class="acc-panel">
                <div class="acc-title"><span class="acc-icon"></span>¿Las liberaciones de tortuga tienen algún costo?</div>
                <div class="acc-body">
                  <h5>No</h5>
                  <p>La actividad de observación de liberaciones de tortugas en los campamentos es completamente gratuita y no es necesario registrarse previamente.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-sidebar">
          <div class="detail-block bg-red-3">
            <h4 class="color-white">detalles</h4>
            <div class="details-desc">
              <p class="color-pink">Categoría:  <span class="color-white">Ecoturismo</span></p>
              <p class="color-pink">Precio: <span class="color-white">actividad gratuita</span></p>
              <p class="color-pink">días: <span class="color-white">Las liberaciones dependen de la temporada y el factor climático</span></p>
            </div>
            <div class="details-btn">
              <a href="/como_llegar" class="c-button b-40 bg-white hv-transparent"><img src="/img/loc_icon_small_drak.png" alt=""><span>ver ubicación en el mapa</span></a>
            </div>
          </div>

          <div class="popular-tours bg-grey-2">
            <h4 class="color-dark-2">hoteles similares</h4>

            <% @similar.each do |hotel| %>
            <div class="hotel-small style-2 clearfix">
                <%= link_to hotel_path(hotel), class: "hotel-img black-hover" do %>
                <%= image_tag hotel.small.url, class:'img-responsive radius-3' %>
                <div class="tour-layer delay-1"></div>
              <% end %>
              <div class="hotel-desc">
                <h5><span class="color-dark-2">desde <strong>$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></strong></span></h5>
                <h4><%= hotel.name %></h4>
                <div class="hotel-loc">Ubicación: <%= hotel.location %></div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="sidebar-text-label bg-dr-blue color-white">información útil</div>

          <div class="help-contact bg-grey-2">
            <h4 class="color-dark-2">¿Necesitas ayuda?</h4>
            <p class="color-grey">Si tienes alguna duda respecto a tu reservación, contamos con un horario de atención al cliente de 9:00 AM a 5:00 PM de Lunes a Sábado.</p>
            <a class="help-phone color-dark-2 link-dr-blue" href="tel:0200059600"><img src="/img/detail/phone24-dark.png" alt="">01 (835) 327-12-12</a>
            <a style="font-size: 12px" class="help-mail color-dark-2 link-dr-blue" href="mailto:contacto@lapescatamaulipas.com"><img src="/img/detail/letter-dark.png" alt="">contacto@lapescatamaulipas.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="may-interested padd-90">
      <div class="row">

        <% @recommended.each do |hotel| %>
        <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3">
          <div class="hotel-item">
            <div class="radius-top">
              <%= link_to hotel_path(hotel) do %>
              <%= image_tag hotel.index.url %>
              <% end %>
              <div class="price price-s-1">$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></div>
            </div>
            <div class="title clearfix">
              <h4><b><%= hotel.name %></b></h4>
              <div class="rate-wrap">
                <div class="rate">
                  <% hotel.review_score.times do %>
                  <span class="fa fa-star color-yellow"></span>
                  <% end %>
                </div>
                <i>Disponible</i>
              </div>
              <span class="f-14 color-dark-2"><%= hotel.location %></span>
              <p class="f-14"><%= hotel.description %></p>
              <%= link_to 'Ver más', hotel_path(hotel), class: "c-button bg-dr-blue hv-dr-blue-o b-50 fl" %>
              <a href="/como_llegar" class="c-button color-dr-blue hv-o b-50 fr"><img src="/img/loc_icon_small_drak.png" alt="">ver en mapa</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
</div>
