<!-- HEADER -->
<table class="head-wrap" bgcolor="#fff">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#fff">
					<tr>
						<td><%= image_tag 'logo-lapesca.png' %></td>
						<td align="right"><h6 class="collapse">Solicitud de reservación</h6></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>

						<h3>Hola, <%= @reservation.name %></h3>
						<p class="lead">Recibimos tu solicitud para reservar en el hotel <%= @reservation.hotel.name %> del día <%= @reservation.check_in %> al <%= @reservation.check_out %>.</p>

						<!-- A Real Hero (and a real human being) -->
						<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->

						<!-- Callout Panel -->
						<p class="callout">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#">Do it Now! &raquo;</a>
						</p><!-- /Callout Panel -->

						<h3>Title Ipsum <small>This is a note.</small></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a class="btn">Ver mi reservación!</a>

						<br/>
						<br/>

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>

									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Síguenos en Facebook:</h5>
												<p class=""><a href="https://www.facebook.com/PuertoLaPesca" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a> <a href="#" class="soc-btn gp">Google+</a></p>


											</td>
										</tr>
									</table><!-- /column 1 -->

									<!--- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Información de Contacto:</h5>
												<p>Teléfono: <strong>01 (835) 327-12-12</strong><br/>
                Email: <strong><a href="emailto:contacto@lapescatamaulipas.com">contacto@lapescatamaulipas.com</a></strong></p>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->


					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->
