<!-- HEADER -->
<table class="head-wrap" bgcolor="#fff">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="#fff">
					<tr>
						<td><%= image_tag 'http://lapesca.herokuapp.com/img/logo-lapesca.png', size: '166x69' %></td>
						<td align="right"><h6 class="collapse">Solicitud de reservación en <%= @reservation.hotel.name %></h6></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>

						<h3>¡Hola! Bienvenido, <%= @reservation.name + ' ' + @reservation.last_name %></h3>
						<p class="lead">Recibimos tu solicitud para reservar en el hotel <u><%= @reservation.hotel.name %></u> del día <b><%= @reservation.check_in %></b> al <b><%= @reservation.check_out %></b>. Un representante del hotel se pondrá en contacto contigo lo más pronto posible para brindarte información y puedas confirmar tu hospedaje.</p>

						<!-- A Real Hero (and a real human being) -->
						<p><%= image_tag 'http://lapesca.herokuapp.com/img/' + @reservation.hotel.code + '-mail.jpg' %></p><!-- /hero -->

						<!-- Callout Panel -->
						<p class="callout">
							Ubicación del hotel: <%= @reservation.hotel.location %>. <%= link_to 'http://www.lapescatamaulipas.com/como_llegar' do %>¡Ver en el mapa ahora! &raquo;<% end %>
						</p><!-- /Callout Panel -->

						<h3>PRE-RESERVACIÓN <small>Sin Confirmar</small></h3>
						<p>Esta es una pre-reservación, tu reservación quedará confirmada una vez hecho el anticipo correspondiente a la cuenta asignada por el representante de cada hotel, una vez hecho tu anticipo correspondiente y que hayas notificado tu pago te llegara un correo electrónico de CONFIRMACIÓN el cual será la confirmación final de tu hospedaje. Una vez recibiendo ese correo no es necesario volver a marcar para confirmar tu hospedaje.</p>
            <%= link_to 'Ver mi reservación!', 'http://www.lapescatamaulipas.com/tu_reservacion?token=' + @reservation.token, class: 'btn' %>
						<br/>
						<br/>

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>





									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Sigue en contacto con nosotros:</h5>
												<p class=""><a href="http://www.facebook.com/PuertoLaPesca" class="soc-btn fb">Facebook</a> <a href="http://www.instagram.com/lapescatamaulipas" class="soc-btn tw">Instagram</a> <a href="http://www.lapescatamaulipas.com" class="soc-btn gp">La Pesca Tamaulipas</a></p>


											</td>
										</tr>
									</table><!-- /column 1 -->



									<!--- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">¿Dudas? ¡Contáctanos!</h5>
												<p>Teléfono: <strong>01 (835) 327 1212</strong><br/>
                Email: <strong><a href="emailto:contacto@lapescatamaulipas.com">contacto@lapescatamaulipas.com</a></strong></p>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->


					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="http://lapesca.herokuapp.com/terminos">Terms</a> |
							<a href="http://lapesca.herokuapp.com/privacidad">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->
