<head>
  <% title "Hoteles en La Pesca, Tamaulipas | Bienvenidos" %>
</head>

<div class="inner-banner">
  <%= image_tag 'index-banner.jpg', class:'center-image' %>
  <div class="vertical-align">
    <div class="container">
      <ul class="banner-breadcrumb color-white clearfix">
        <li><a class="link-blue-2" href="#">inicio</a> /</li>
        <li><span class="color-blue-2">hoteles</span></li>
      </ul>
      <h2 class="color-white">Todos los hoteles para tí</h2>
      <h4 class="color-white">Encontramos: <span><%= @q.result(distinct: true).count %></span> opciones</h4>
    </div>
  </div>
</div>

<div class="list-wrapper bg-grey-2">
  <div class="container">
    <div class="row">
      <%= search_form_for @q do |f| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="sidebar bg-white clearfix">
          <div class="sidebar-block">
            <h4 class="sidebar-title color-dark-2">buscar</h4>
            <div class="search-inputs">
              <div class="form-block clearfix">
                <div class="input-style-1 b-50 color-3">
                  <img src="img/loc_icon_small_grey.png" alt="">
                  <input type="text" placeholder="La Pesca, Soto La Marina Tamaulipas">
                </div>
              </div>
              <div class="form-block clearfix">
                <div class="input-style-1 b-50 color-3">
                  <img src="img/calendar_icon_grey.png" alt="">
                  <input type="date" name="check_in" placeholder="Check In" class="datepicker">
                </div>
              </div>
              <div class="form-block clearfix">
                <div class="input-style-1 b-50 color-3">
                  <img src="img/calendar_icon_grey.png" alt="">
                  <input type="date" name="check_out" placeholder="Check Out" class="datepicker">
                </div>
              </div>
            </div>
            <%= f.submit "Buscar", class: "c-button b-40 bg-blue-2 hv-blue-2-o" %>
          </div>
          <div class="sidebar-block">
            <h4 class="sidebar-title color-dark-2">categorias</h4>
            <ul class="sidebar-category color-1">
              <li class="active">
                <a class="cat-drop" href="#">hoteles <span class="fr">(<%= Hotel.where(category: 0).count %>)</span></a>
                <ul>
                  <li><a href=<%= hotels_path(category: 0) %>>todos (<%= Hotel.where(category: 0).count %>)</a></li>
                  <li><a href="#">habitaciones (<%= Hotel.where(category: 0).count%>)</a></li>
                  <li><a href="#">bungalows (<%= Hotel.where(category: 2).count%>)</a></li>
                </ul>
              </li>
              <li>
                <a class="cat-drop" href="#">casas <span class="fr">(<%= Hotel.where(category: 1).count%>)</span></a>
                <ul>
                  <li><a href=<%= hotels_path(category: 1) %>>todas (<%= Hotel.where(category: 1).count%>)</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sidebar-block">
            <h4 class="sidebar-title color-dark-2">rango de precio</h4>
            <div class="slider-range color-1 clearfix" data-counter="$" data-position="start" data-from="0" data-to="1500" data-min="0" data-max="2000">
              <div class="range"></div>
              <input type="text" name="amount_start" class="amount-start" readonly value="$0">
              <input type="text" name="amount_end" class="amount-end" readonly value="$1500">
            </div>
            <%= f.submit "Buscar", class: "c-button b-40 bg-blue-2 hv-blue-2-o" %>
          </div>
          <div class="sidebar-block">
            <h4 class="sidebar-title color-dark-2">Amenidades</h4>
            <div class="sidebar-rating">
              <div class="input-entry color-1">
                <input id="text-1" name="q[dock_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-1" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Muelle</span>
                </label>
              </div>
              <div class="input-entry color-1">
                <input id="text-2" name="q[pool_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-2" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Alberca</span>
                </label>
              </div>
              <div class="input-entry color-1">
                <input id="text-3" name="q[grill_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-3" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Asadores</span>
                </label>
              </div>
              <div class="input-entry color-1">
                <input id="text-4" name="q[pet_friendly_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-4" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Mascotas</span>
                </label>
              </div>
              <div class="input-entry color-1">
                <input id="text-5" name="q[shacks_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-5" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Palapas</span>
                </label>
              </div>
              <div class="input-entry color-1">
                <input id="text-6" name="q[restaurant_true]" value="1" type="checkbox" class="checkbox-form"></input>
                <label class="clearfix" for="text-6" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">Restaurante</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="list-header clearfix">
          <div class="list-view-change">
            <div class="change-grid color-1 fr"><i class="fa fa-th"></i></div>
            <div class="change-list color-1 fr active"><i class="fa fa-bars"></i></div>
            <div class="change-to-label fr color-grey-8">Ver:</div>
          </div>
        </div>
        <div class="list-content clearfix">
          <% @hotels.each do |hotel| %>
          <div class="list-item-entry">
            <div class="hotel-item style-3 bg-white">
              <div class="table-view">
                <div class="radius-top cell-view">
                  <%= link_to hotel_path(hotel) do %>
                    <%= image_tag hotel.code + '-index.jpg' %>
                  <% end %>
                </div>
                <div class="title hotel-middle clearfix cell-view">
                  <div class="date list-hidden"><%= hotel.location %></div>
                  <div class="date grid-hidden"><%= hotel.location %></div>
                  <h4><b><%= link_to hotel_path(hotel) do %>
                    <%= hotel.name %>
                    <% end %></b></h4>
                    <div class="rate-wrap">
                      <div class="rate">
                        <% hotel.review_score.times do %>
                        <span class="fa fa-star color-yellow"></span>
                        <% end %>
                      </div>
                      <i style="background: green; color: white">Disponible</i>
                    </div>
                    <p class="f-14 grid-hidden"><%= hotel.description %></p>
                  </div>
                  <div class="title hotel-right clearfix cell-view">
                    <div class="hotel-person color-dark-2">desde <span class="color-blue">$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></span> por noche</div>
                    <%= link_to 'ver más', hotel_path(hotel), class: "c-button b-40 bg-blue hv-blue-o grid-hidden" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <%  if @hotels.first.present? && @hotels.first.hotel? %>
            <div class="c_pagination clearfix padd-120">
              <% if @page < @last_page %>
              <a href="/hotelesenlapesca?page=<%= @page + 1 %>"class="c-button b-40 bg-blue-2 hv-blue-2-o fr">Siguiente</a>
              <% end %>
              <% if @page > 1 %>
              <a href="/hotelesenlapesca?page=<%= @page - 1 %>" class="c-button b-40 bg-blue-2 hv-blue-2-o fl">Anterior</a>
              <% end %>
              <ul class="cp_content color-1">
                <% for i in 1..@last_page do %>
                <% if @page == i %>
                <li class="active">
                <% else %>
                <li>
                <% end %>
                <a href="/hotelesenlapesca?page=<%= i %>"><%= i %></a></li>
                <% end %>
              </ul>
              </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
