<!-- INNER-BANNER -->
<div class="inner-banner style-6">
  <%= image_tag "lapescatamaulipas.jpg", class: "center-image", alt: "" %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<ul class="banner-breadcrumb color-white clearfix">
		  				<li><a class="link-blue-2" href="#">Hoteles</a> /</li>
              <li><span>reservar ahora</span></li>
		  			</ul>
		  			<h2 class="color-white"><%= @reservation.hotel.name %></h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
	<div class="container">
       	<div class="row padd-90">
       		<div class="col-xs-12 col-md-8">
            <%= form_for @reservation, id: "reservation_form", class:"simple-form" do |f| %>
					<div class="simple-group">
						<h3 class="small-title">Informacion personal</h3>
						<div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-block type-2 clearfix">
                  <div class="form-label color-dark-2">Fecha de entrada (Check-in)</div>
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <%= f.text_field :check_in, required: true, class: "datepicker", placeholder: "Check In" %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-block type-2 clearfix">
                  <div class="form-label color-dark-2">Fecha de salida (Check-out)</div>
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <%= f.text_field :check_out, required: true, class: "datepicker", placeholder: "Check Out" %>
                  </div>
                </div>
              </div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Nombre</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <%= f.text_field :name, placeholder: "Tu nombre", required: true %>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Apellidos</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <%= f.text_field :last_name, placeholder: "Tu apellido", required: true %>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Correo electrónico</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <%= f.email_field :email, placeholder: "Dirección e-mail de contacto", required: true %>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Verificar correo</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
										<input type="text" name="confirm_email" placeholder="Verificar direccion e-mail">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Telefono</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
									<%= f.text_field :phone, placeholder: "Número de contacto", required: true %>
									</div>
								</div>
							</div>
              <div class="col-xs-12 col-sm-6">
								<div class="form-block type-2 clearfix">
									<div class="form-label color-dark-2">Hotel</div>
									<div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <input type="text" placeholder="<%= @reservation.hotel.name %>" readonly/>
									</div>
								</div>
							</div>
              <% @iterator = 0 %>
              <% @reservation.hotel.rooms.each do |room| %>
              <div class="col-xs-12 col-sm-6">
                <div class="form-block type-2 clearfix">
                  <div class="form-label color-dark-2">Tipo de Habitación</div>
                  <div class="drop-wrap drop-wrap-s-4 color-5">
                      <select class="drop" name="reservation[rooms][<%= @iterator %>]"/>
                        <option value="<%= room.id %>"><%= room.name %></option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-block type-2 clearfix">
                  <div class="form-label color-dark-2">Cantidad</div>
                  <div class="drop-wrap drop-wrap-s-4 color-5">
                      <select class="drop" name="reservation[quantity][<%= @iterator %>]">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                      </select>
                  </div>
                </div>
              </div>
              <% @iterator += 1 %>
              <% end %>
							<div class="col-xs-12">
								<div class="confirm-terms">
									<div class="input-entry color-3">
                    <%= f.hidden_field :hotel_id, value: @reservation.hotel_id %>
										<input class="checkbox-form" id="text-1" type="checkbox" name="checkbox" value="climat control">
										<label class="clearfix" for="text-1">
											<span class="sp-check"><i class="fa fa-check"></i></span>
											<span class="checkbox-text"> Quiero recibir promociones de <a class="color-dr-blue-2 link-dark-2" href="/">Lapescatamaulipas.com</a> en el futuro.</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>

          <input type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o" value="Confirmar reservación">
				<% end %>
       		</div>
       		<div class="col-xs-12 col-md-4">
       			<div class="right-sidebar">

              <div class="popular-tours bg-grey-2">
                <h4 class="color-dark-2">hoteles similares</h4>

                <% @similar.each do |hotel| %>
                <div class="hotel-small style-2 clearfix">
                    <%= link_to hotel_path(hotel), class: "hotel-img black-hover" do %>
                    <%= image_tag hotel.code + '-small.jpg', class:'img-responsive radius-3' %>
                    <div class="tour-layer delay-1"></div>
                  <% end %>
                  <div class="hotel-desc">
                    <h5><span class="color-dark-2">desde <strong>$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></strong></span></h5>
                    <h4><%= hotel.name %></h4>
                    <div class="hotel-loc">Ubicación: <%= hotel.location %></div>
                  </div>
                </div>
                <% end %>
              </div>
          <div class="sidebar-text-label bg-dr-blue color-white">información útil</div>

          <div class="help-contact bg-grey-2">
            <h4 class="color-dark-2">¿Necesitas ayuda?</h4>
            <p class="color-grey">Si tienes alguna duda respecto a tu reservación, contamos con un horario de atención al cliente de 9:00 AM a 5:00 PM de Lunes a Sábado.</p>
            <a class="help-phone color-dark-2 link-dr-blue" href="tel:0200059600"><img src="/img/detail/phone24-dark.png" alt="">01 (835) 327-12-12</a>
            <a style="font-size: 12px" class="help-mail color-dark-2 link-dr-blue" href="mailto:contacto@lapescatamaulipas.com"><img src="/img/detail/letter-dark.png" alt="">contacto@lapescatamaulipas.com</a>
          </div>
       			</div>
       		</div>
       	</div>
	</div>
</div>
