<!-- INNER-BANNER -->
<div class="inner-banner style-6">
  <%= image_tag 'detail-banner.jpg', class:'center-image' %>
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="banner-breadcrumb color-white clearfix">
            <li><a class="link-blue-2" href="#">inicio</a> /</li>
            <li><a class="link-blue-2" href="#">hoteles</a> /</li>
            <li><span><%= @hotel.name %></span></li>
          </ul>
          <h2 class="color-white">hoteles en la pesca</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
  <div class="container">
    <div class="detail-header">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="detail-category color-grey-3">Ubicación <%= @hotel.location %>, Soto La Marina Tamaulipas.</div>
          <h2 class="detail-title color-dark-2"><%= @hotel.name %></h2>
          <div class="detail-rate rate-wrap clearfix">
            <div class="rate">
              <% @hotel.review_score.times do %>
              <span class="fa fa-star color-yellow"></span>
              <% end %>
            </div>
            <i style="background: green; color: white">Disponible</i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="detail-price color-dark-2">precio desde  <span class="color-dr-blue"> $<%= number_with_delimiter(@hotel.cost_per_night.to_i, :delimiter => ',') %></span> /noche</div>
        </div>
      </div>
    </div>
    <div class="row padd-90">
      <div class="col-xs-12 col-md-8">
        <div class="detail-content color-1">
          <div class="detail-top slider-wth-thumbs style-2">
            <div class="swiper-container thumbnails-preview" data-autoplay="1" data-loop="100" data-speed="10000" data-center="0" data-slides-per-view="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide " data-val="4">
                  <%= image_tag @hotel.code + '_detail_big_2', class: "img-responsive img-full", alt: "" %>
                </div>
                <div class="swiper-slide" data-val="3">
                  <%= image_tag @hotel.code + '_detail_big_3', class: "img-responsive img-full", alt: "" %>
                </div>
                <div class="swiper-slide" data-val="2">
                  <%= image_tag @hotel.code + '_detail_big_4', class: "img-responsive img-full", alt: "" %>
                </div>
                <div class="swiper-slide" data-val="1">
                  <%= image_tag @hotel.code + '_detail_big_5', class: "img-responsive img-full", alt: "" %>
                </div>
                <div class="swiper-slide" data-val="0">
                  <%= image_tag @hotel.code + '_detail_big_1', class: "img-responsive img-full", alt: "" %>
                </div>
              </div>
              <div class="pagination pagination-hidden"></div>
            </div>
            <div class="swiper-container thumbnails" data-autoplay="1"
            data-loop="100" data-speed="10000" data-center="0"
            data-slides-per-view="responsive">
            <div class="swiper-wrapper">
              <div class="swiper-slide current active" data-val="0">
                <%= image_tag @hotel.code + '_detail_small_1', class: "img-responsive img-full", alt: "" %>
              </div>
              <div class="swiper-slide" data-val="1">
                <%= image_tag @hotel.code + '_detail_small_2', class: "img-responsive img-full", alt: "" %>
              </div>
              <div class="swiper-slide" data-val="2">
                <%= image_tag @hotel.code + '_detail_small_3', class: "img-responsive img-full", alt: "" %>
              </div>
              <div class="swiper-slide" data-val="3">
                <%= image_tag @hotel.code + '_detail_small_4', class: "img-responsive img-full", alt: "" %>
              </div>
              <div class="swiper-slide" data-val="4">
                <%= image_tag @hotel.code + '_detail_small_5', class: "img-responsive img-full", alt: "" %>
              </div>
            </div>
            <div class="pagination hidden"></div>
          </div>
        </div>

        <div class="detail-content-block">
          <h3>Información del Hotel</h3>
          <p><%= @hotel.long_description %></p>

          <h5>La Pesca</h5>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7t9bfSXgmII" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="detail-content-block">
          <h3>Pregunas frecuentes</h3>
          <div class="accordion style-2">
            <div class="acc-panel">
              <div class="acc-title"><span class="acc-icon"></span>¿Cómo puedo confirmar una reservación?</div>
              <div class="acc-body">
                <p>Confirmar tu hospedaje es muy sencillo, únicamente tienes que seleccionar el hotel de tu interés, buscar las fechas en que solicitas tu hospedaje para validar la disponibilidad, una vez autorizada la disponibilidad escoge el medio de pago que mas te convenga y ¡listo! Tienes el hospedaje de tu viaje confirmado.</p>
              </div>
            </div>
            <div class="acc-panel">
              <div class="acc-title"><span class="acc-icon"></span>¿Cuáles son los pasos para confirmar mi hospedaje?</div>
              <div class="acc-body">
                <p>Para confirmar tu hospedaje es necesario haber cubierto el 50% del total de la reservación</p>
              </div>
            </div>
            <div class="acc-panel">
              <div class="acc-title"><span class="acc-icon"></span>¿QUÉ TIPO DE PAGO ACEPTAN PARA CONFIRMAR UNA RESERVACIÓN?</div>
              <div class="acc-body">
                <p>Puedes realizar tu reservación en tiempo real e inmediata mediante deposito bancario en bancos Banamex, Santander, Bancomer y Banorte, transferencia interbancaria o también puedes realizar tu deposito en Oxxo o Seven Eleven.</p>
                <p>Si tu reservación es por medio de deposito en efectivo ten en cuenta que es necesario reenviar tu comprobante de pago, si no se recibe tu comprobante de pago en 24 horas en temporada regular y de 12 horas en temporada alta (Temporada alta Semana Santa, Verano y días festivos) la habitación quedará liberada sin previo aviso.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="right-sidebar">
        <div class="detail-block bg-dr-blue">
          <h4 class="color-white">detalle</h4>
          <div class="details-desc">
            <p class="color-grey-9">Tipo:  <span class="color-white"><%= Hotel.get_category_string(@hotel.category) %></span></p>
            <p class="color-grey-9">Costo por noche: <span class="color-white">$<%= number_with_delimiter(@hotel.cost_per_night.to_i, :delimiter => ',') %></span></p>
            <p class="color-grey-9">Categoría:
              <% @hotel.review_score.times do %>
              <span class="fa fa-star color-yellow"></span>
              <% end %>
            </p>
            <p class="color-grey-9">muelle: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.dock) %></span></p>
            <p class="color-grey-9">alberca: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.pool) %></span></p>
            <p class="color-grey-9">Cable TV: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.tv) %></span></p>
            <p class="color-grey-9">palapas: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.shacks) %></span></p>
            <p class="color-grey-9">aire a/c: <span class="color-white">Si</span></p>
            <p class="color-grey-9">asadores: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.grill) %></span></p>
            <p class="color-grey-9">restaurante: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.restaurant) %></span></p>
            <p class="color-grey-9">pet friendly: <span class="color-white"><%= Hotel.boolean_to_string(@hotel.pet_friendly) %></span></p>
          </div>
          <div class="details-btn">
            <a href="/como_llegar" class="c-button b-40 bg-tr-1 hv-white"><span>ver en mapa</span></a>
            <%= link_to 'Reservar ahora', reservar_hotel_path(@hotel), class: "c-button b-40 bg-white hv-transparent" %>
          </div>
        </div>

        <div class="popular-tours bg-grey-2">
          <h4 class="color-dark-2">hoteles similares</h4>

          <% @similar.each do |hotel| %>
          <div class="hotel-small style-2 clearfix">
              <%= link_to hotel_path(hotel), class: "hotel-img black-hover" do %>
              <%= image_tag hotel.code + '-small.jpg', class:'img-responsive radius-3' %>
              <div class="tour-layer delay-1"></div>
            <% end %>
            <div class="hotel-desc">
              <h5><span class="color-dark-2">desde <strong>$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></strong></span></h5>
              <h4><%= hotel.name %></h4>
              <div class="hotel-loc">Ubicación: <%= hotel.location %></div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="sidebar-text-label bg-dr-blue color-white">información útil</div>

        <div class="help-contact bg-grey-2">
          <h4 class="color-dark-2">¿Necesitas ayuda?</h4>
          <p class="color-grey">Si tienes alguna duda respecto a tu reservación, contamos con un horario de atención al cliente de 9:00 AM a 5:00 PM de Lunes a Sábado.</p>
          <a class="help-phone color-dark-2 link-dr-blue" href="tel:018353271212"><img src="/img/detail/phone24-dark.png" alt="">01 (835) 327-12-12</a>
          <a style="font-size: 12px" class="help-mail color-dark-2 link-dr-blue" href="mailto:contacto@lapescatamaulipas.com"><img src="/img/detail/letter-dark.png" alt="">contacto@lapescatamaulipas.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="may-interested padd-90">
    <div class="row">

      <% @recommended.each do |hotel| %>
      <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3">
        <div class="hotel-item">
          <div class="radius-top">
            <%= link_to hotel_path(hotel) do %>
            <%= image_tag hotel.code + '-index.jpg' %>
            <% end %>
            <div class="price price-s-1">$<%= number_with_delimiter(hotel.cost_per_night.to_i, :delimiter => ',') %></div>
          </div>
          <div class="title clearfix">
            <h4><b><%= hotel.name %></b></h4>
            <div class="rate-wrap">
              <div class="rate">
                <% hotel.review_score.times do %>
                <span class="fa fa-star color-yellow"></span>
                <% end %>
              </div>
              <i>Disponible</i>
            </div>
            <span class="f-14 color-dark-2"><%= hotel.location %></span>
            <p class="f-14"><%= hotel.description %></p>
            <%= link_to 'Ver más', hotel_path(hotel), class: "c-button bg-dr-blue hv-dr-blue-o b-50 fl" %>
            <a href="/como_llegar" class="c-button color-dr-blue hv-o b-50 fr"><img src="/img/loc_icon_small_drak.png" alt="">ver en mapa</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
