<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>La Pesca | Dashboard </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
      <%= render "layouts/sidebar" %>
      <!-- top navigation -->
      <%= render "layouts/topnav" %>
      <!-- /top navigation -->
      <div class="right_col" role="main">
        <%= yield %>
        <%= render "layouts/show_message" %>
        <!-- footer content -->
        <%= render "layouts/footer" %>
        <!-- /footer content -->
      </div>
    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

</body>

</html>
