<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:type"   content="article" />
	<meta property="og:url"    content="http://www.lapescatamaulipas.com" />
	<meta property="og:title"  content="Turismo La Pesca, Tamaulipas | Bienvenidos" />
	<meta property="og:description" content="Hoteles en La Pesca Tamaulipas, aquí podrás encontrar toda la información que necesitas de La Pesca, Tamaulipas." />
	<meta property="og:image"  content="http://www.lapescatamaulipas.com<%= path_to_image('lapescatamaulipas.jpg') %>" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no" />

	<link rel="shortcut icon" href="favicon.ico"/>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'home' %>
	<%= javascript_include_tag 'home' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUoUtDPdfeOsARiAGKagvzA_3gM2swGU&amp;language=en"></script>
	<title><%= content_for?(:title) ? content_for(:title) : "Turismo La Pesca Tamaulipas" %></title>
</head>
<body data-color="theme-1">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=417722455041718";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- LOADER -->
	<div class="loading">
		<div class="loading-center">
			<div class="loading-center-absolute">
				<div class="object object_four"></div>
				<div class="object object_three"></div>
				<div class="object object_two"></div>
				<div class="object object_one"></div>
			</div>
		</div>
	</div>

	<!-- HEADER -->
	<header class="color-1 hovered menu-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="nav">
						<a href="/" class="logo">
							<%= image_tag 'logo-lapesca.png', size: '166x69' %>
						</a>
						<div class="nav-menu-icon">
							<a href="#"><i></i></a>
						</div>
						<nav class="menu">
							<ul>
								<li class="type-1"><a href="/">La Pesca<span class="fa fa-angle-down"></span></a>
									<ul class="dropmenu">
										<li><a href="/puerto_la_pesca">El puerto la pesca</a></li>
									</ul>
								</li>
								<li class="type-1"><a href="#">Actividades<span class="fa fa-angle-down"></span></a>
									<ul class="dropmenu">
										<li><a href="/tortuga_lora-lapescatamaulipas">Tortuga Lora</a></li>
										<li><a href="/paseo_en_lancha">Paseo en lancha</a></li>
										<li><a href="/renta_de_kayaks">Renta de kayaks</a></li>
										<li><a href="/pesca_en_lancha-lapescatamaulipas">Pesca en Lancha</a></li>
										<li><a href="/el_sabinito">El Sabinito</a></li>
									</ul>
								</li>
								<li class="type-1">
									<%= link_to hotels_path do %>
										Hoteles<span class="fa fa-angle-down"></span>
									<% end %>
									<ul class="dropmenu">
										<li><%= link_to 'Ver todos', hotels_path %></li>
										<li><%= link_to 'La Pescalinda', la_pescalinda_path %></li>
										<li><%= link_to 'Bungalows Tropicana', tropicana_path %></li>
										<li><%= link_to 'Palma Real', palma_real_path %></li>
										<!-- <li><%#= link_to 'Riviera del rio', riviera_del_rio_path %></li> -->
										<!-- <li><%#= link_to 'Nuevo Amanecer', nuevo_amanecer_path %></li> -->
										<li><%= link_to 'Marina del rio', marina_del_rio_path %></li>
										<!-- <li><%#= link_to 'Maria Esperanza', maria_esperanza_path %></li> -->
										<li><%= link_to 'La Escollera', la_escollera_path %></li>
										<!-- <li><%#= link_to 'Villa del mar', villa_del_mar_path %></li> -->
										<li><%= link_to 'Hotel Blanquita', hotel_blanquita_path %></li>
										<li><%= link_to 'Punta piedra', punta_piedra_path %></li>
										<li><%= link_to 'Villa del Sol', villa_del_sol_path %></li>
									</ul>
								</li>
								<li class="type-1"><a href="/quienes_somos">Quienes somos<span class="fa fa-angle-down"></span></a>

								</li>
								<li class="type-1"><a href="/como_llegar">Como llegar<span class="fa fa-angle-down"></span></a>
									<ul class="dropmenu">
										<li><a href="/clima">Clima</a></li>
									</ul>
								</li>
								<li class="type-1"><a href="/galeria">Galeria<span class="fa fa-angle-down"></span></a>
									<ul class="dropmenu">
										<li><a href="/galeria">Fotos</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<%= yield %>

	<!-- FOOTER -->
	<footer class="bg-dark type-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="footer-block">
						<%= image_tag 'logo-bordeblanco.png', size: '173x46' %>
						<div class="f_text color-grey-7">Lapescatamaulipas.com es un portal de enlace con los servicios hoteleros del Puerto La Pesca, en Soto La Marina Tamaulipas.</div>
						<div class="footer-share">
							<a href="https://www.facebook.com/PlayaLaPescaTamaulipas/"><span class="fa fa-facebook"></span></a>
							<a href="https://plus.google.com/u/1/106333733706140911033"><span class="fa fa-google-plus"></span></a>
							<a href="https://www.instagram.com/lapescatamaulipas"><span class="fa fa-instagram"></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
					<div class="footer-block">
						<h6>La Pesca en la Web</h6>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="http://expansion.mx/lifestyle/2016/03/16/aguas-contaminadas-las-playas-mas-sucias-de-mexico">
								<%= image_tag 'playas-limpias.jpeg', class: 'img-responsive' %>
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="http://expansion.mx/lifestyle/2016/03/16/aguas-contaminadas-las-playas-mas-sucias-de-mexico">playas mas limpias de mexico</a>
								<span class="date-f">Mar 16, 2016</span>
								<a href="http://expansion.mx/lifestyle/2016/03/16/aguas-contaminadas-las-playas-mas-sucias-de-mexico" class="r-more">leer más</a>
							</div>
						</div>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="http://tamaulipeco.com.mx/bancada-panista-exige-impulsar-inversiones-en-la-pesca/">
								<%= image_tag 'bancada.jpeg', class: 'img-responsive' %>
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="http://tamaulipeco.com.mx/bancada-panista-exige-impulsar-inversiones-en-la-pesca/">Buscan inversión en La Pesca</a>
								<span class="date-f">Jun 20, 2016</span>
								<a href="http://tamaulipeco.com.mx/bancada-panista-exige-impulsar-inversiones-en-la-pesca/" class="r-more">leer más</a>
							</div>
						</div>
						<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="http://www.milenio.com/region/playa_miramar-bacterias_miramar-contaminacion_Miramar-playa_Tamaulipas_0_767923516.html">
								<%= image_tag 'riesgos.jpg', class: 'img-responsive' %>
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="http://www.milenio.com/region/playa_miramar-bacterias_miramar-contaminacion_Miramar-playa_Tamaulipas_0_767923516.html">No hay riesgos en playas</a>
								<span class="date-f">Jul 4, 2016</span>
								<a href="http://www.milenio.com/region/playa_miramar-bacterias_miramar-contaminacion_Miramar-playa_Tamaulipas_0_767923516.html" class="r-more">leer más</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="footer-block">
						<h6>Facebook:</h6>
						<div class="fb-page" data-href="https://www.facebook.com/PlayaLaPescaTamaulipas" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/PuertoLaPesca" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PuertoLaPesca">Puerto La Pesca, Tamaulipas</a></blockquote></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="footer-block">
						<h6>Contacto</h6>
						<div class="contact-info">
							<div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Soto La Marina, Tamaulipas</span></div>
							<div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:018353271212">01 (835) 327-12-12</a></div>
							<div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:">contacto@lapescatamaulipas.com</a></div>
							<div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a href="#">www.lapescatamaulipas.com</a></div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-link bg-black">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							<span>&copy; <%= Time.zone.now.year %> Todos los derechos reservados. Lapescatamaulipas.com</span>
						</div>
						<ul>
							<li><a class="link-aqua" href="/privacidad">Políticas de Privacidad </a></li>
							<li><a class="link-aqua" href="/quienes_somos">Acerca de Nosotros</a></li>
							<li><a class="link-aqua" href="/faqs">Preguntas frecuentes</a></li>
							<li><a class="link-aqua" href="/terminos">Terminos del servicio</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

<% if flash[:notice].present? %>
<script>
$.notific8('<%= flash[:notice] %>', { theme: 'ruby' });
</script>
<% end %>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-64323464-1', 'auto');
ga('send', 'pageview');

</script>
</html>
